.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh; 
    background-color: #f9fafb; 
}

.titleDesc{
    text-align: center;
}

.titleDesc h1{
    font-weight: 100;
    font-size: 36px;
    margin-bottom: 20px;
}
.titleDesc span{
    font-weight: 500;
}
.titleDesc p{
    font-weight: 100;
    font-size: 16px;
}

.loginRegisterBtn{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 60%;
}
 .registerLink button{
    width: 100%;
}

@media only screen and (min-width: 700px){

    .loginRegisterBtn{
        margin: 0 auto;
        width: 20%;
        left: 30%;
    }
   
}

