* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: "poppins";
}
/* USER INFO */
.userInfo {
  background-color: #ff676c;
  width: 100%;
  height: 257px;
}

.avatar {
  width: 50px;
  height: 50px;
}
.avatarContainer {
  background-color: white;
  width: 54px;
  height: 54px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameAndMessageAndAvatar {
  display: flex;

  justify-content: space-between;
  padding: 40px 20px;
}
.myTripAndPlanNew {
  display: flex;
  justify-content: space-between;
}
.cardsAndTripInfosMobile {
  display: flex;
  margin-top: -75px;
  width: 100%;
}
.myTripAndPlanNew {
  padding: 10px 20px;
}
.myTripAndPlanNew p {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
}
.myTripAndPlanNew h4 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.nameAndMessage h3 {
  color: #fff;
  font-weight: 300;
  font-size: 22px;
}
.nameAndMessage span {
  font-weight: 700;
}
.nameAndMessage p {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
}
.cardsAndTripInfoDesktop {
  display: none;
}
.articleCards a {
  text-decoration: none;
  color: #333;
}
.link-tags {
  color: #333;
}
.myTripAndPlanNew p {
  display: none;
}
.userProfileAndContent {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}

@media only screen and (min-width: 700px) {
  .cardsAndTripInfoDesktop {
    display: flex;
    margin-top: -75px;
    width: 100%;
  }
  .cardsAndTripInfosMobile {
    display: none;
  }
  .articleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10, 1fr;

    width: 400px;
  }
  .nameAndMessageAndAvatar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding-left: 150px;
  }
  .avatarContainer {
    margin-left: 60px;
  }
  .myTripAndPlanNew {
    display: flex;
    justify-content: space-evenly;
    margin-top: -60px;
  }
  .navColor {
    color: #fff;
  }
  .link-to-userTrips {
    color: #333;
  }
  .userProfileAndContent {
    display: flex;
    flex-direction: column-reverse;
  }
  .articleCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
