body{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins'; 
}
/* Header */
.header{
    margin: 50px 10px
}
.homeBtn{
    border-style: none;
    color: gray;
    font-size: large;
    background-color: white;
}
/* Title and small description */
.pageTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
    margin: 5px auto;
    text-align: center;
}
.pageTitle h2{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}
.pageTitle p{
    font-size: 15px;
    font-weight: lighter;
    color: gray;
}
/* Input fields */
.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5px auto;
}
.inputField{
    height: 30px;
    width: 63%;
    border-style:none;
}
.inputField::placeholder{
    color: #d9d9d9;
    font-weight: bold;
}
.divInput{
    display: flex;
    align-items: center;
    border-color: #d9d9d9;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    padding: 10px;
    margin: 10px 0;
    height: 30px;
}
label{
    width: 35%;
    font-size: 12px;
}

/* Buttons to start and cancel */
.startCancelBtn{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.startBtn{
    margin-bottom: 10px;
    height: 40px;
    border-radius: 10px;
    border-style:  none;
    background-color: #ff676c ;
    color: white;
    font-size: 12px;
}

.cancelBtn{
    border-style: none;
    color: #d9d9d9;
    font-size: 15px;
    background-color: white;
}


