* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "poppins";
}
.new_header_home {
  color: #fff;
  margin-top: 0;
}

.ImageAndNav {
  width: 100%;
  height: 200px;
  display: grid;
  align-items: center;
  position: relative;
}
.ImageAndNav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.backImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.ImageAndNav h3 {
  z-index: 1;
  position: relative;
  margin-top: 0;
  color: #fff;
  margin-left: 20px;
}
.navCover a {
  margin: 0;
}

.userAndInfos {
  background-color: #fff;
  /* width: 100%; */
  padding: 16px 24px;
}
.userAvatarAndName {
  display: flex;
}
.userAndInfos h3 {
  font-size: 16px;
  font-weight: 600;
}
.generalTips {
  /* width: 100%; */
  /* height: 125px; */
  padding: 16px 24px;
  background-color: #fff;
  margin-top: 41px;
}
.iconAndHeader {
  display: flex;
}

.iconAndHeader h4 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}
.generalTips p {
  font-size: 12px;
  font-weight: 300;

}
.daysAndContents {
  /* width: 100%; */
  /* height: 189px; */
  background-color: #fff;
  margin-top: 41px;
  padding: 20px 21px;
}
.iconAndDays {
  display: flex;
}
.iconAndDays h4 {
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
}

.textContent {
  margin-top: 15px;
  margin-left: 20px;
  padding-left: 20px;
  width: 80%;
}
.textContent h5 {
  font-size: 12px;
  font-weight: 700;
}
.textContent p {
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0;
}
.textContent span {
  color: #ff5a5f;
  font-size: 12px;
  font-weight: 400;
}
/* .ImageAndNav h3 {
  color: #fff;
}
.ImageAndNav {
  padding-left: 20px;
} */
.userAvatarAndName p {
  margin-left: 5px;
}

@media only screen and (min-width: 700px) {
  .ImageAndNav {
    width: 100%;
    height: 550px;
    display: grid;
    align-items: center;
    position: relative;
  }
  .backImg {
    width: 100%;
    height: 100%;
    object-fit: fill;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
  }
  .ImageAndNav h3 {
    font-size: 30px;
  }
  .userAndInfos {
    margin-top: 32px;

    background-color: #fff;
    width: 80%;
    padding: 16px 24px;
    margin-left: 10%;
  }
  .generalTips {
    width: 80%;
    /* height: 125px; */
    padding: 16px 24px;
    background-color: #fff;
    margin-top: 41px;
    margin-left: 10%;
  }
  .daysAndContents {
    width: 80%;
    margin-left: 10%;
  }
}
