.label-change-password {
  width: 100%;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.loginForm {
  height: 60vh;
  width: 300px;
  margin-top: 100px;
}

.abortChangesButton {
  cursor: pointer;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  font-size: 13px;
  background-color: #ffffff;
  color: #ff676c;
  margin-bottom: 50px;
}

.btn-container-change-password{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-change-password{
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn-change-password button{
 width: 100%;
}

.btn-change-password a{
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .loginForm {
    height: 60vh;
    margin-top: 60px;
    width: 50%;
    /* margin-bottom: 40pxpx; */
  }
  
}
