label {
  width: 100%;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.loginForm {
  height: 60vh;

  /* margin-bottom: 40pxpx; */
}

.abortChangesButton {
  cursor: pointer;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  font-size: 13px;
  background-color: #ffffff;
  color: #ff676c;
  margin-bottom: 50px;
}

@media only screen and (min-width: 700px) {
  .loginForm {
    height: 60vh;
    margin-top: 60px;
    /* margin-bottom: 40pxpx; */
  }
}
