* {
  padding: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.bigContainer {
  margin-top: 60px;
  padding-top: 50px;
}
.homeButton {
  margin-left: 30px;
}
.homeButton a {
  text-decoration: none;
}
.profileInfo {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.tripsPlusGuides {
  display: flex;
  justify-content: flex-start;
  margin-left: -100px;
}
.tripsAndGuidesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: #f9fafb;
}
.editIcon {
  margin-top: 80px;
  margin-left: -20px;
  z-index: 3;
}

.avatar-profile {
  width: 150px;
  height: 150px;
}
.profileImage {
  display: flex;
  margin-left: 20px;
}
.userName {
  color: #6b7280;
  font-weight: 400;
  margin-top: -20px;
}
.tripsImagesLocation {
  display: flex;
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 10px 20px;
}
.tripImage {
  width: 175px;
  height: 135px;
  margin-top: 20px;
  margin-right: 20px;
}
.tripDateAndMates {
  display: flex;
  /* margin-top: -10px; */
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.tripPlans {
  margin-right: 50px;
}
.travelMate2 {
  margin-left: -8px;
}
.bottomLine {
  width: 100%;
  height: 1px;
  background-color: #bfbfbf;
}
.mates {
  width: 30px;
  height: 30px;
}
.tripDateAndMates {
  display: flex;
  /* margin-top: -10px; */
  align-items: center;
  /* margin-right: -6rem; */
}
.profileName {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
}
.trip-title-profile {
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}
.date-trip-profile {
  font-weight: bolder;
  font-size: 0.8rem;
}
.titleDateMate h3 {
  font-weight: 500;
}
.titleDateMate p {
  font-weight: 100;
}
.container-start-planning-trip {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
}
.text-trip-plans-profile {
  font-size: 1rem;
  color: #6b7280;
  font-weight: 400;
}
.link-in-card-profile {
  color: #0f0f0f;
  text-decoration: none;
}
.trip__And__Active {
  border: none;
  font-size: 1rem;
  color: #ff5a5f;
  background-color: transparent;
  border-bottom: 2px solid #ff5a5f;
}
.trip__And__Disabled {
  border: none;
  font-size: 1rem;
  border-bottom: none;
  color: #333;
  background-color: transparent;
}
.datePlace {
  display: flex;
  flex-direction: column;
  /* margin-left: 5px; */
}
.disabled {
  background-color: #bfbfbf;
}
@media only screen and (min-width: 900px) {
  .tripsImagesLocation {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(196, 196, 196);
  }
  .tripsAndGuidesContainer {
    height: 40vh;
  }
  .tripImage {
    width: 350px;
    height: 250px;
    margin-left: -5rem;
    margin-top: 20px;
    margin-right: -600px;
  }
  /* .tripDateAndMates {
    flex-direction: column-reverse;
    margin-right: -10px;
    margin-top: -15px;
  } */
  .titleDateMate h3 {
    font-weight: 500;
  }
  .titleDateMate p {
    font-weight: 100;
  }
  .titleDateMate {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 20px;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
  }
  .datePlace {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 108px;
    margin-bottom: -25px; */
  }
}
