body {
  font-family: "poppins";
  background-color: #f9fafb;
}

/* Image and Guide button */
.articleImage {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.articleImage img {
  height: 100%;
  width: 100%;
}
.articleContainer {
  margin: 35px;
}
.guide {
  color: #fff;
  right: 0;
}
/* The article text and creators and the save button  */
.articleContentAndCreator {
  padding: 20px;
}

/* the article text  */
.articleText h5 {
  font-size: 12px;
  font-weight: 600;
}
.articleText p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}

/* Creator and save button */
.articleCreatorAndSaveButton {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.articleCreator {
  display: flex;
}
.articleCreator p {
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 5px;
}
.animateDiv {
  animation-duration: 5s;
  animation-name: fade-in;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 900px) {
  .articleContainer {
    margin: 35px;
    width: 400px;
  }
  .articleImage img {
    height: 100%;
  }
  .eachCard {
    height: 329px;
    background-color: #fff;
    /* background-color: #f1f1f1; */
    border-radius: 10px;
    box-shadow: 0 0 15px #d2d2d2;
    /* animation: fade-in 0.5s ease; */
  }
}
