body.active-modal-place-to-visit {
    overflow-y: hidden;
}

.container-places-to-visit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1rem 0 1rem;
}
.btn-and-title {
    display: flex;
    gap: 1.2rem;
}

.description-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 1rem;
}
.places-to-visit {
    font-weight: 400;
}
.title-description-place {
    font-weight: 600;
}
.description-place {
    color: #6B7280 ;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 0.9rem;
}
.add-place-to-visit-btn {
    cursor: pointer;
    background-color: #ff676C;
    color: white;
    font-size: 2rem;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    transition: 0.5s;
}
.add-place-to-visit-btn:hover {
    background-color: #ffffff;
    color: #ff676C;
    border: 1.7px solid #ff676c8f;
}
/* .add-place-to-visit-btn2 {
    cursor: pointer;
    background-color: #ff676C;
    color: white;
    font-size: 2rem;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 0.5rem;
    margin: 0% 0 -10% 85% ;
    transition: 0.7s;
} */
.add-place-to-visit-btn2:hover {
background-color: #ffffff;
color: #ff676C;
border: 1.7px solid #ff676c8f;
}
.none {
display: none;
}

.plus-icon-btn {
    font-size: 2rem;
    font-weight: 200;
}
.view-details-places {
    cursor: pointer;
    border:none;
    background-color: transparent;
    color: #ff676C;
}
.view-details-places:hover {
    border-bottom: 1px solid #ff676C;
}
.container-btn-view-detail-place {
    margin: 1rem 0 1rem 0rem;
}

/********************** DESKTOPS WIDTH: 1440 ****************************/

@media screen and (min-width: 1440px) {
    .container-places-to-visit {
        justify-content: space-around;
    }
    .description-container {
        align-items: center;
    }
}