/*
      MAIN INFO 

      TYPOGRAPHY
      
      POPPINS

      COLORS :

      #171717

      #ff676C

      #F9FAFB

      #F3F2F2

      #D9D9D9

      #C5C884


*/



/* MODAL*/

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay {
    background: #c7c7c7cb;
}
.title-popUp-add {
    color: #4A4A4A ;
    font-weight: 400;
}
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 1.4;
    background: #F2F2F2;
    padding: 2rem;
    border-radius: 8px;
    max-width: 20rem;
    min-width: 20rem;
}


.form-add-place {
    display: flex;
    flex-direction: column;
}
.input-place-visit {
    width: 100%;
    height: 2rem;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 7px;
    padding: 0.3rem 0;
    margin: 0.4rem 0 2rem 0;
}
.input-description {
    width: 100%;
    height: 5rem;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 7px;
    margin: 0.4rem 0;
}

.container-btn-add-place {
    display: flex;
    flex-direction: column;
    margin-top: 40%;
    gap: 0.8rem;
    
}

.add-place-visit {
    font-weight: bold;
    border-radius: 8px;
    color: #f1f1f1;
    height: 2.5rem;
    border: none;
    background-color:#ff676C ;
}
.cancel-add-place{
    font-weight: bold;
    border-radius: 8px;
    color: #ff676C;
    height: 2.5rem;
    border: none;
    background-color:#ffffff ;
}