
/*------------------- LIST OF CARDS -------------------------*/

.list-card-itinerary {
    flex-wrap: wrap;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem 0;
}
.list-card-itinerary2 {
    flex-wrap: wrap;
    margin-top: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem 0;
}
.list-card-itinerary3 {
    margin-top: 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.5rem 0;
}

.btn-and-date-itinerary {
    cursor: pointer;
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
}
 p {
    font-weight: 600;
 }
.btn-add-destination {
    cursor: pointer;
    font-weight: bold;
    margin-right: 1.4rem;
    border: none;
    background-color: transparent;
    color: #FF5A5F;
}
.svg-btn {
    border: none;
    background-color: transparent;
}