.formContainer {
  margin-top: 30px;
}

.inputs {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid #333;
}

input[type="file"] {
  display: none;
}

.upload {
  width: 300px;
  height: 70px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  padding-left: 10px;
  border: 1px solid #333;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.label {
  color: #a9a9a9;
  cursor: pointer;
}

.editBtn {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.editButton {
  background-color: #ff5a5f;
  color: #fff;
}

.cancelledButton {
  background-color: #ffffff;
  color: #ff5a5f;
  margin-top: 20px;
  border: 2px solid #e9e9e9;
}

@media only screen and (min-width: 700px) {
  .formContainer {
    margin-top: 50px;
  }
  .inputs {
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #333;
  }
  .upload {
    width: 500px;
    height: 70px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #333;
    background-color: #fff;
    display: flex;
    align-items: center;
  }

  .editBtn {
    margin-left: 100px;
  }
}
