.container-destination-detail {

}

/* ---------- BACKGROUND IMAGE -----------*/
.container-background-destination {
}
.destination-background {
    height: 30rem;
    width: 100%;
}

/*-------------- CARD DESCRIPTION ---------------------*/

.card-description-destination {
    background-color: white;
    width: 90%;
    z-index: 1;
    margin-left: 5%;
    border-radius: 9px;
    transform: translateY(-3rem);
}

.title-destination {
    padding: 1rem 0 0 1rem;
    font-size: 2rem;
    font-weight: 400;

}
.sub-title-destination{
    color: #6B7280;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 0 1rem 1rem;

}
.description-title-destination{
    font-weight: 600;
    margin: 0 0 1rem 1rem;

}
.description-text-destination{
    font-weight: 400;
    color: #6B7280;
    margin: 0 0 0 1rem;
}

/* ----------- BUTTON ------------------------*/

.btn-destination-detail {
    margin:1rem 0 0 5%;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    height: 3.5rem;
    width: 90%;
    border: none;
    background-color: #FF5A5F;
}

/*---------------- CARDS IMAGES -------------------------*/
.test-container {
    margin-top: 2rem;
    width: 100%;


}

.img {
    border-radius: 10px;
    width: 50%;

}

/*
.img-desc-destination {
    border-radius: 9px;
    width: 100%;
}

*/
