
.container-destination-detail {
    margin-bottom: 6rem;
}
/* ---------- BACKGROUND IMAGE -----------*/

.destination-background {
    height: auto;
    width: 100%;
}

/*-------------- CARD DESCRIPTION ---------------------*/

.card-description-destination {
    background-color: white;
    width: 90%;
    z-index: 1;
    margin-left: 5%;
    border-radius: 9px;
    transform: translateY(-3rem);
}

.title-destination {
    padding: 1rem 0 0 1rem;
    font-size: 2rem;
    font-weight: 400;

}
.sub-title-destination{
    color: #6B7280;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 0 1rem 1rem;

}
.description-container-destination {
    display: flex;
    flex-direction: column;
}
.description-title-destination{
    font-weight: 600;
    margin: 0 0 1rem 1rem;

}
.description-text-destination{
    font-weight: 400;
    color: #6B7280;
    margin: 0 0 0 1rem;
}

/* ----------- BUTTON ------------------------*/

.btn-destination-detail {
    margin:0 0 0 5%;
    border-radius: 9px;
    color: white;
    cursor: pointer;
    height: 3.5rem;
    width: 90%;
    border: none;
    background-color: #FF5A5F;
    transition: 0.9s;
}

/*---------------- CARDS IMAGES -------------------------*/

.images-carousel-container {
    margin: 3rem 0;
    width: 100%;
}

.img {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
}


@media screen and (min-width:768px) {
    .img {
        max-width: 100%;
    }
    .destination-background {
        height: 55rem;
    }
}

/*-----------  LAPTOP VERSION ------------*/

@media screen and (min-width:1024px) {
    .card-description-destination {
        background-color: #ffffffd5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .description-container-destination {
        justify-content: center;
        align-items: center;
    }
    .btn-destination-detail:hover {
        background-color: white;
        color: #FF5A5F;
        border: 1.6px solid #FF5A5F;
    }
    .destination-background {
    display: block;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

}

/*---------------- DESKTOP VERSION ( WIDTH 1440)---------------*/

@media screen and (min-width:1440px) {
    .destination-background {
        margin-right: auto;
        margin-left: auto;
        display: block;
        max-width: 48%;
    }
    .card-description-destination {
        background-color: #ffffffd5;
    }
    .description-container-destination {
        margin-bottom: 3rem;
    }
    .images-carousel-container {
        display: block;
        margin: auto;
        width: 65%;
    }
    .btn-destination-detail {
        margin: 3rem 0 0 13%;
        width: 75%;
    }
}
/*---------------- DESKTOP VERSION ( WIDTH 1680)---------------*/

@media screen and (min-width:1680px) {
    .destination-background {
        margin-right: auto;
        margin-left: auto;
        display: block;
        max-width: 35%;
    }
    .card-description-destination {
        background-color: #ffffffd5;
    }
    .description-container-destination {
        margin-bottom: 3rem;
    }
    .images-carousel-container {
        display: block;
        margin: auto;
        width: 65%;
    }
    .btn-destination-detail {
        margin: 3rem 0 0 13%;
        width: 75%;
    }
}