/*
      MAIN INFO 

      TYPOGRAPHY
      
      POPPINS

      COLORS :

      #171717

      #ff676C

      #F9FAFB

      #F3F2F2

      #D9D9D9

      #C5C884


*/







body.active-modal-edit {
    overflow-y: hidden;
}
/*  ------------HEADER ------------*/

.header-img {
    width: 100%;
    height: 450px;
}

.header-img-default{
    width: 100%;
    height: 300px;
}
.header-btn-home {
    margin-left: 4%;
    gap: 0.2rem;
    font-weight: bold;
    margin-top: 15%;
    color: rgba(49, 49, 49, 0.795);
    position: absolute;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    

}

/*------------ USER INFO'S   ---------------------*/
.edit-trip-btn {
    border: none;
    background-color:transparent;
}
.info-user-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 0 1rem;
}

.name-and-edit{
    display: flex;
    justify-content: space-between;
}

.name-of-trip {
    color: #353535;
    font-weight: 400;
    margin-right: 1rem;
}



.date-of-trip-itinerary {
    color: #6b7280;
    margin: 1rem 0;
}
.date-of-trip {
    color: #6b7280;
    font-weight: 400;
    margin-bottom: 1rem;
}

.profile-icon-itinerary {
    width: 2.7rem;
}
.profile-icon {
    width: 2.7rem;
    z-index: -1;
}

.travel-mate-overview-page {
    cursor: pointer;
    border: none;
    background-color:#ff676C ;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 8px;
    transition: 0.9s;

}
.travel-mate-overview-page:hover {
    background-color: #FFFFFF;
    color: #ff676C;
    border: 1px solid #ff676C;
}
.container-avatar-and-button {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/*--------------------  PLACES TO VISIT ----------------------------*/

.places-to-visit-container {

    border-bottom: 1px solid #cfcfcf ;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.categories-btn-container {
    background-color: #e5e7eb36;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.overview-btn-categories-active {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color:#ff676C ;
    border-bottom:2px solid #ff676C;
}

.overview-btn-categories-disable {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color:#6b7280 ;
    border:none;
    transition: 0.5s;
}
.overview-btn-categories-disable:hover {
    cursor: pointer;
    color: #ff676C;
    border-bottom: 2px solid #ff676C;
}

.itinerary-btn-categories-active {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    color:#ff676C ;
    border-bottom:2px solid #ff676C;

}
.itinerary-btn-categories-disable {
    border: none;
    color: #6b7280;
    background-color: transparent;
    font-size: 1rem;
    transition: 0.5s;
}
.itinerary-btn-categories-disable:hover {
    cursor: pointer;
    color: #ff676C;
    border-bottom: 2px solid #ff676C;
}

.places-to-visit-handler-btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    background-color: transparent;
    margin-bottom: 50%;
    margin-left: -1rem;
    margin-top: 1.5rem;
}


.recommended-places-overview {
    color: #6b7280;
    margin: 1rem;
}

.recommended-container-overview {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.recommended-card {
    gap: 0.5rem;
    align-items: center;
    display: flex;
}


/* ------------------------MOBILE LARGE ---------------------*/


@media screen and ( min-width: 425px) {
    .header-btn-home {
        margin-left: 4%;
        gap: 0.5rem;
        margin-top: 7%;
    }
}
/* ------------------------DESKTOP VERSION ---------------------*/

@media screen and ( min-width: 1024px) {
    .header-btn-home {
        cursor: pointer;
        margin-left: 2%;
        gap: 1rem;
        margin-top: 5%;
        font-size: 1.2rem;
        transition: all 0.9s;
    }
    .header-btn-home:hover {
        color: #ff676C;
    }
    .info-user-container {
        align-items: center;
        margin: 2rem 0;
        padding: 0 1rem;
    }
    .name-and-edit {
        justify-content: center;
    }
    .edit-trip-btn {
        cursor: pointer;
    }
    .date-of-trip {
        align-self: center;
    }
    .profile-icon {
        align-self: center;
        width: 3rem;
    }
    .categories-btn-container {
        justify-content: center;
    }
}

/* ------------------------DESKTOP ( WIDTH 1440) ---------------------*/

@media screen and ( min-width: 1440px) {
    .header-container {
        display: block;
        width: 71%;
        margin: auto;
    }

}