body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: #f9fafb;
}
/* Header */
.header {
  margin: 50px 10px;
}
.header a {
  text-decoration: none;
}

/* Title and small description */
.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5px auto;
  text-align: center;
  padding-top: 100px;
}
.pageTitle h2 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}
.pageTitle p {
  font-size: 15px;
  font-weight: lighter;
  color: gray;
}
/* Input fields */

.planNewTripForm{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5px auto;

}
.inputField {
  height: 30px;
  width: 63%;
  border-style: none;
  background-color: #f9fafb;
}
.inputField::placeholder {
  color: #d9d9d9;
  font-weight: bold;
}
.divInput {
  display: flex;
  align-items: center;
  border-color: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.5px;
  padding: 10px;
  margin: 10px 0;
  height: 30px;
  justify-content: center;
}
.newTripTraMate label {
  width: 35%;
  font-size: 13px;
  margin-top: 5px;
}

/* Buttons to start and cancel */
.startCancelBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  position:absolute;
  bottom: 15%;
  left: 20%;
}


.required{
    color:#ff676c;
    font-size: 0.7rem;
    font-weight: bold;
    margin: 0 10px;
}

@media only screen and (min-width: 700px){
    .planNewTripForm{
        width: 40%;
        margin: 2rem auto;
    }

    .startCancelBtn{
        margin: 0 auto;
        width: 60%;
        left: 30%;
        position:unset;
        bottom: 15%;
    }

    .pageTitle h2{
        font-size: 40px;
    }

    .pageTitle p{
        font-size: 25px;
        margin-top: 30px;
    }
}


